<% @topics.each do |topic| %>
  <%= render partial: 'topic', locals: {:topic => topic} %>
  <small><%= topic.posts.count %> responses</small><br>
  <a href="<%= board_topic_path(@board, topic) %>"><button>View</button></a>
<% end %>
