<h3><%= @user.email %>'s Posts</h3>
<% @user.posts.each do |post| %>
  <br><small><%= link_to post.topic.title, board_topic_path(post.board, post.topic) %></small><br>
  <%= render partial: 'post', locals: {:post => post, :user => @user } %>
  <hr>
<% end %>
