body {
  background-color: #dedede;
}
ul.horizontal {
  
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul {
  list-style-type: none;
}

.horizontal div li {
  float: left;
}

.horizontal div li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.horizontal div li a:hover {
  background-color: #111;
  color: lightgray;
}

a {
  text-decoration: none;
  color: #1d9ac1;
}

a:hover {
  color: salmon;
}

h6 a {
  color: black;
}

strong a {
  color: black;
}

.greentext {
  color: #4cb388;

}
textarea {
  width: 80%;
  height: 20em;
}
input[type='text'] {
  width: 50%
}
#error_explanation {
  background-color: salmon;
  color: white;
  border-left-style: solid;
  border-left-color: red;
}

#error_explanation * {
  padding: 2px 10px;
}
