
<% if target.errors.any? %>

  <div id="error_explanation">
    <p>
      <%= pluralize(target.errors.count, "error") %> prevented submission
    </p>
    
      <% target.errors.full_messages.each do |msg| %>
	<p>&nbsp;&nbsp;&nbsp;<%= msg %></p>
      <% end %>
   
  </div>
<% end %>
