<ul class="horizontal">
  <div class="container">
    <li><a href="javascript:void(0)">Home</a></li>
    <li><a href="javascript:void(0)">News</a></li>
    <li><a href="javascript:void(0)">Contact</a></li>
    <li><a href="javascript:void(0)">About</a></li>
  </div>
</ul>
